@font-face {
  font-family: 'brands';
  src:
    url('fonts/brands.ttf?4mkek2') format('truetype'),
    url('fonts/brands.woff?4mkek2') format('woff'),
    url('fonts/brands.svg?4mkek2#brands') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'brands' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.brand-linkedin:before {
  content: "\e900";
}
.brand-github:before {
  content: "\e901";
}
.brand-twitter:before {
  content: "\e902";
}
