@font-face {
  font-family: 'brands';
  src:
    url('fonts/brands.ttf?wei1pp') format('truetype'),
    url('fonts/brands.woff?wei1pp') format('woff'),
    url('fonts/brands.svg?wei1pp#brands') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'brands' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.brand-github:before {
  content: "\e903";
}
.brand-linkedin:before {
  content: "\e904";
}
.brand-twitter:before {
  content: "\e906";
}
